USE [StudentManager]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/29/2026 7:59:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [email]) VALUES (1, N'Nguyễn Văn AB', N'nguyenthanhtra.240805@gmail.com')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (2, N'Nguyen Phuong Tra', N'tra@gmail.com')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (3, N'Nguyễn Văn B', N'nvb@gmail.com')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
